body {
    background-color: #5CDB95;
    font-family: 'Bahianita';
}

.field {
    margin-top: 30px;
}

.actions {
    margin-top: 30px;
}

.header {
    font-family: 'Bahianita';
    font-size: 20px;
    text-align: right;
    width: 100%;
    padding-right: 200px;
    background-color: rgb(109, 199, 150);
}

.alerts {
    font-size: 25px;
    color: rgb(197, 130, 130);
    text-align: center;
}

.sign-form {
    font-size: 25px;
    text-align: center;
    margin-top: -100px;
    color: #05386B;
}

.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.title {
    color: #EDF5E1;
    font-family: 'Bahianita';
    font-size: 120px;
    text-align: center;
}

.new-article-button {
    margin: auto;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
    color: #EDF5E1;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    text-decoration: none;
    background-color: #05386B;
    width: 140px;
    height: 30px;
    border-radius: 10px;   
}

.article-view{
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #EDF5E1;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    width: 80%;
    background-color: #05386B;
    border-radius: 10px;   
}

.comments-view{
    margin: auto;
    text-align: center;
    color: #EDF5E1;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    width: 400px;
    background-color: #379683;
    border-radius: 10px;   
}

.back-button {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    color: #EDF5E1;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    text-decoration: none;
    background-color: #05386B;
    width: 140px;
    height: 30px;
    border-radius: 10px;
}

.headers {
    background-color: #EDF5E1;
    font-family: 'Open Sans Condensed';
    color: #05386B;
    height: 30px;
    border-radius: 30px;
}

.display{
    background-color: #379683;
    font-family: 'Open Sans Condensed';
    margin-top:20px;
    text-align:center;
    margin-top: 100px;
    height: 20px;
    margin: 12px 12px 12px 12px;
}

.save-button {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    color: #EDF5E1;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    text-decoration: none;
    background-color: #379683;
    width: 140px;
    height: 30px;
    border-radius: 10px;
}

textarea {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    text-align:center;
  }

input[type=submit] {
    background-color: #379683;
    color: #EDF5E1;
    font-size: 20px;
    font-family: 'Open Sans Condensed';
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.headers {
    background-color: #EDF5E1;
    font-family: 'Open Sans Condensed';
    color: #05386B;
    height: 30px;
    border-radius: 30px;
}

.display{
    background-color: #379683;
    font-family: 'Open Sans Condensed';
    margin-top:20px;
    text-align:center;
    margin-top: 100px;
    height: 20px;
    margin: 12px 12px 12px 12px;
}

.article-button {
    background-color: #05386B;
    font-family: 'Open Sans Condensed';
    width: 100px;
}

.article-title {
    width: 200px;
}

.form-style {
    margin-top: -80px;
    text-align: center;
    font-family: 'Open Sans Condensed';
}

table {
    
    border-radius: 1em;
    overflow: hidden;
    margin: 12px 12px 12px 12px;
  }
  
th, td {
    padding: 1em;
    border-radius: 1em;
    margin: 12px 12px 12px 12px;
  }

a:link {
    text-decoration: none;
    color: #EDF5E1;
}

a:visited {
    text-decoration: none;
    color: #EDF5E1;
}