body {
    background-color: #5CDB95;
}

.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.title {
    color: #EDF5E1;
    font-family: 'Bahianita';
    font-size: 120px;
    text-align: center;
}

.new-article-button {
    margin: auto;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
    color: #EDF5E1;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    text-decoration: none;
    background-color: #05386B;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    
}

.headers {
    background-color: #EDF5E1;
    font-family: 'Open Sans Condensed';
    color: #05386B;
    height: 30px;
    border-radius: 30px;
}

.display{
    background-color: #379683;
    margin-top:20px;
}

a:link {
    text-decoration: none;
    color: #EDF5E1;
}

a:visited {
    text-decoration: none;
    color: #EDF5E1;
}